extends layout/_global

append head
  - var title = "Loading&hellip;"
  title(ng-bind-html="app.edgePage.title || '#{title}'") !{title}
  // build:css styles/app.css
  link(rel="stylesheet", href="styles/app.css")
  // endbuild

  script.
    var ENV = '#{ENV}';
    var VERSION = '#{VERSION}';

  if LOCAL
    script.
      document.write('<script src="//' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>');
    script.
      var LOCAL = true;

append footer-scripts
  //- socket.io
  //- script(src="/socket.io/socket.io.js")<% if (edgeplate.features.cordova) { %>

  //- Apache Cordova library
  if CORDOVA
    script(src="cordova.js")<% } if (edgeplate.features.socketio) { %>

  //- socket.io client served by node server
  script(src="/socket.io/socket.io.js")<% } %>

  // build:js(app/) scripts/lib.js
  //- underscore js
  script(src="bower_lib/underscore/underscore.js")

  //- nprgoress
  script(src="bower_lib/nprogress/nprogress.js")

  //- jquery and jquery plugins
  script(src="bower_lib/jquery/jquery.js")

  //- bootstrap dependencies
  //- options: affix, alert, button, carousel, collapse, dropdown, modal, popover, scrollspy, tab, tooltip, transition
  //- each src in ['affix', 'alert', 'button', 'carousel', 'collapse', 'dropdown', 'modal', 'popover', 'scrollspy', 'tab', 'tooltip', 'transition']
    script(src="bower_lib/bootstrap-sass/vendor/assets/javascripts/bootstrap/#{src}.js")
  
  //- angular core and app dependencies
  //- options: angular, angular-animate, angular-cookies, angular-mocks, angular-resource, angular-route, angular-sanitize, angular-touch
  each src in ['angular', 'angular-animate', 'angular-resource', 'angular-sanitize']
    script(src="bower_lib/#{src}/#{src}.js")

  //- angular-ui-router
  script(src="bower_lib/angular-ui-router/release/angular-ui-router.js")

  //- gloal helpers
  script(src="scripts/helper.js")

  // endbuild

  // build:angularJs(app/) scripts/app.js
  //- everything beyond this point is assumed to be angular related
      and will run through the ngmin task putting it in the temp
      directory during the build process<% if (edgeplate.features.cordova) { %>

  //- edge cordova app, exposes cordova events in angular
  script(src="scripts/edge.cordova.js")<% } if (edgeplate.features.loopback) { %>

  //- loopback services
  script(src="scripts/loopback.js")<% } %>

  //- main app
  script(src="scripts/app.js")

  //- application components

  //- angular services
  script(src="scripts/services/edgeResolver.js")
  script(src="scripts/services/edgePage.js")
  script(src="scripts/services/NProgress.js")<% if (edgeplate.features.socketio) { %>
  script(src="scripts/services/socketio.js")<% } %>

  //- angular directives

  //- angular filters

  //- angular controllers
  script(src="controllers/App/AppController.js")

  //- page controllers
  script(src="controllers/pages/Index/IndexController.js")

  //- page resolvers
  script(src="controllers/pages/Index/IndexResolver.js")

  // endbuild
